<div>
  <h1><%= @article.title %></h1>
  <img class="article" src="<%= @article.img_url %>" alt="No Image">
  <p>Dreamed up at <%= @article.created_at %></p>
  <p>
    Last updated up at <%= @article.updated_at %> by
    <% if @author %>
      <%= @author.name1 %> <%= @author.name2 %>
    <% elsif @editor %>
      <%= @editor.name1 %> <%= @editor.name2 %>
    <% else %>
      Party Animals
    <% end %>
  </p>
  <p>By <%= @article.author.name1 %> <%= @article.author.name2 %></p>
  <p><%= @article.content %></p>

  <% if @author %>
    <form action="/articles/<%= @article.id%>/edit" method="POST">
      <input type="hidden" name="_method" value="put">
      <textarea class="content" name="content" rows="5" cols="50" placeholder="<%= @article.content%>"></textarea>
    </br>
      <select name="article[category_id]">
        <% @categories.each do |category| %>
          <option value="<%= category.id %>">
          <%= category.label %>
          </option>
        <% end %>
        <input type="submit" value="Submit changes">
      </select>
    </br>
    </form>
  <% elsif @editor %>
    <form action="/articles/<%= @article.id%>/edit" method="POST">
      <input type="hidden" name="_method" value="put">
      <textarea class="content" name="content" rows="5" cols="50" placeholder="<%= @article.content%>"></textarea>
    </br>
      <select name="article[category_id]">
        <% @categories.each do |category| %>
          <option value="<%= category.id %>">
          <%= category.label %>
          </option>
        <% end %>
        <input type="submit" value="Submit changes">
      </select>
    </br>
    </form>
  <% else %>
  <% end %>
</div>
  <a href="/articles">Back to List of Articles</a></p>






