<div>
  <h1><%= @article.title %></h1>
  <img src="<%= @article.img_url %>" alt="/public/img/partygoer.jpeg">
  <p><%= @article.created_at %></p>
  <p><%= @article.author_id.name1 %></p>
  <p><%= @article.content %></p>
</div>
<p><a href="/articles">Back to List of Articles</a></p>
