<h1>Looking for a great party idea? Look no further!</h1>
<p><a href="/new_article">Create a new article</a></p>
<ul>
  <% @articles.each do |article| %>
    <li>
      <p><a href="articles/<%= article.id %>"><%= article.title %> by <%= article.author.name1 %> <%= article.author.name2 %></a></p>
      <p>Written on <%= article.created_at %></p>
      <p>Edited on <%= article.updated_at %></p>
      <p><img class="article" src="<%= article.img_url %>" alt="/public/img/partygoer.jpg"></p>
        <form method="POST" action="articles/<%= article.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>

