<h1>Looking for a great party idea? Look no further!</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <p><a href="articles/<%= article.id %>"><%= article.title %> by <%= article.author_id.name1 %> <%= article.author_id.name2 %></a></p>
      <p><%= article.created_at %></p>
      <p><img src="<%= article.img_url %>" alt="./public/img/partygoer.jpg"></p>
    </li>
  <% end %>
</ul>
