<div>
  <h1><%= @article.title %></h1>
  <img src="<%= @article.img_url %>" alt="No Image">
  <p>Dreamed up at <%= @article.created_at %></p>
  <p>
    Last updated up at <%= @article.updated_at %> by
    <% if @author %>
      <%= @author.name1 %> <%= @author.name2 %>
    <% elsif @editor %>
      <%= @editor.name1 %> <%= @editor.name2 %>
    <% else %>
      Party Animals
    <% end %>
  </p>
  <p>By <%= @article.author.name1 %> <%= @article.author.name2 %></p>
  <p><%= @article.content %></p>
</div>
<p><a href="/articles/<%= @article.id %>">Edit</a></p>
<!-- I don't want this to be a submit, I want this to be where you find the form to edit everything -->
<p><a href="/articles">Back to List of Articles</a></p>
