<% if @category="Summer" %>
  <h1><%= @article.title %></h1>
    <img class="article" src="<%= @article.img_url %>" alt="No Image">
    <p>Dreamed up at <%= @article.created_at %></p>
    <p>
      Last updated up at <%= @article.updated_at %> by
      <% if @author %>
        <%= @author.name1 %> <%= @author.name2 %>
      <% elsif @editor %>
        <%= @editor.name1 %> <%= @editor.name2 %>
      <% else %>
        Party Animals
      <% end %>
    </p>
    <p>By <%= @article.author.name1 %> <%= @article.author.name2 %>
    </p>
    <p><%= @article.content %></p>
<% elsif @category="New Year's Eve" %>
  <h1><%= @article.title %></h1>
    <img class="article" src="<%= @article.img_url %>" alt="No Image">
    <p>Dreamed up at <%= @article.created_at %></p>
    <p>
      Last updated up at <%= @article.updated_at %> by
      <% if @author %>
        <%= @author.name1 %> <%= @author.name2 %>
      <% elsif @editor %>
        <%= @editor.name1 %> <%= @editor.name2 %>
      <% else %>
        Party Animals
      <% end %>
    </p>
    <p>By <%= @article.author.name1 %> <%= @article.author.name2 %></p>
    <p><%= @article.content %></p>
<% else @category="New Year's Eve" %>
  <h1><%= @article.title %></h1>
    <img class="article" src="<%= @article.img_url %>" alt="No Image">
    <p>Dreamed up at <%= @article.created_at %></p>
    <p>
      Last updated up at <%= @article.updated_at %> by
      <% if @author %>
        <%= @author.name1 %> <%= @author.name2 %>
      <% elsif @editor %>
        <%= @editor.name1 %> <%= @editor.name2 %>
      <% else %>
        Party Animals
      <% end %>
    </p>
    <p>By <%= @article.author.name1 %> <%= @article.author.name2 %></p>
    <p><%= @article.content %></p>  
<% end %>