<h2><%= @article.title %> by <%= @article.name1 %> <%= @article.name2 %></h2>
  <ul>
    <% @articles.each do |crop| %>
    <li>
      <h5>Crop: <%= crop.kind %> </h5>
      <h5>Quantity: <%= crop.quantity %> </h5>

      <form action="/crops/<%=crop.id%>/edit" method="POST">
        <input type="hidden" name="_method" value="put">
        <input type="number" name="crop[quantity]" placeholder="current quantity <%=crop.quantity%>">
        <input type="submit" value="Submit">
      </form>

      <form action="/crops/<%=crop.id%>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>

      <% end %>
    </li>
  </ul>